.hero-about-us {
    background-color: #89CFF0;
}

.heading-about-us h1 {
    color: #0a2351;
    font-size: 55px;
    text-align: center;
    margin-top: 0;
}

.container-About-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content-about-us {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeINUP 2s ease;
}

.hero-content-about-us h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}

.hero-content-about-us p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}

.hero-content-about-us button {
    display: inline-block;
    background-color: #00FFFF;
    color: #0a2351;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-content-about-us button:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeINUP 2s ease;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .heading-about-us h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .hero {
        margin: 0px;
    }

    .container-About-us {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .hero-content-about-us {
        width: 100%;
        margin: 35px 0px;
    }

    .hero-content-about-us h2 {
        font-size: 30px;
    }

    .hero-content-about-us p {
        font-size: 18px;
        padding: 8px 16px;
    }

    .hero-content-about-us button {
        font-size: 16px;
        margin-bottom: 8px 16px;
        color: #333;
    }

    .hero-image {
        width: 100%;
    }

    @keyframes fadeINUP {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fadeINRight {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}