*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #7CB9E8;
}
.container{
    width: 720px;
    background: #fff;
    border-radius: 5px;
}
.container header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}
.container form{
    margin: 35px 30px;
}
form .fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.fields .inner-field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}
form .fields input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px;
    border: 1px so 35px;
    border-radius: 5px;
    border: 0.7px solid #bfbfbf;
}
form .fields input::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
}
form .fields input:focus,
form .message textarea:focus{
    border: 2px solid #7CB9E8;
}
.container .fields i{
    position: absolute;
    left: 1px;
    top: 50%;
    color: #000000;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}
form .fields input:focus ~ i{
    color: #7CB9E8;
}
form .message{
    position: relative;
}
form .message i{
    position: absolute;
    left: 5px;
    top: 20%;
    color: #000000;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}
form .message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}
form .button-area{
    margin: 25px 0;
}
.button-area button{
    font-size: 18px;
    border: none;
    padding: 13px 25px;
    cursor: pointer;
    background-color: #7CB9E8;
    color: #000000;
    border-radius: 5px;
}
.button-area span{
    color: #7CB9E8;
    margin-left: 30px;
    display: none;
}
@media (max-width: 600px){
    .container header{
        text-align: center;
    }
    form .fields{
        margin-bottom: 0px;
        flex-direction: column;
    }
    .fields .inner-field{
        width: 100%;
        margin-bottom: 20px;
    }
    .button-area button{
        width: 100%;
    }
    form .button-area{
        text-align: center;
        margin-right: 20px 0;
    }
    .button-area button{
        width: 100%;
    }
    form .message textarea{
        resize: none;
    }
}