*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#page-container{
    position: relative;
    min-width: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}


.container1{
    background-color: #054979;
    text-align: center;
}

.container1 ul{
    margin: 0;
    padding: 0px;   
}

.container1 li{   
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    margin: 5px;
    padding: 3px;
}

.container1 li a 
{
    display: block;
    color: #faf9f6;
    
    padding: 10px;
    text-decoration: none;
}

.container1 li a:hover{
    background-color: #005a92;
    border-radius: 5px;
}
 
.burgers{
    width: 250px;
}

.about{
    padding-top: 15px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 15px;
    text-align: center;
    color: #faf9f6;
    font-family: 'trebuchet MS', sans-serif;
    font-size: 28px;
}

.delco{
    padding: 9px;
    width: 220px;
    border-radius: 10px;
    border: none;
    background-color: #212121;
    color: #faf9f6;
    font-size: 19px;
}

#middle{
    text-align: center;
    padding: 25px;
}

.inside{
   
    background-color: #63C8E9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(12.jpg);
    background-size: 50%;
    background-position: left;
}

.sub-menu1{
    display: none;
}

.container1 li:hover .sub-menu1{
    display: inline-flex;
    position: absolute;
    background-color: #faf9f6;
    color: #faf9f6;

}

.container1 li:hover .sub-menu1 ul{
    display: inline-block;
    margin: 10px;
}

.burger1{
    background-color: #faf9f6;
    height: 355x;
    border-radius: 3%;
    margin: 23px;
    text-align: center;
}

/*footer{
 background-color: #faf9f6;
 height: auto;
 width: auto;
 padding: 22px;
 font-family: 'trebuchet MS', sans-serif;
 text-align: center;
 margin-top: 200px;
} */

.footer-column ul{
    list-style: none;
}

.footer-column h2{
    color: #212121;
    margin-bottom: 25px;
    position: relative;
    font-family: 'trebuchet MS', sans-serif;
}

.footer-column h2::before{
    content: '';
    width: 225px;
    height:2px;
    position: absolute;
    background-color:  #FFC107;
    bottom: -6px;
}
.footer-column ul li{
    padding: 5px 0;
}

.footer-column ul li a{
    color: #212121;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
}

.footer-column ul li a:hover{
    opacity: 1.3;
}
/*
.footer-column input{
    border: none;
    width: 150px;
    height: 20px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border-radius: 5px;
}

/*.footer-column .emailsubmit{
    padding: 0px 20px;
    background-color: #FFC107;
    border: none;
    color: #faf9f6;
}

.row .socialIcons i{
    display: inline-block;
    color: #212121;
    font-size: 20px;
    margin-right: 10px;
    
}

.row .socialIcons i:hover{
    color: #FFC107;
    transition: 0.1s;
}*/

footer{
    background-color: #faf9f6;
    font-family: 'trebuchet MS', sans-serif;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

.kontain1{
    border: solind #212121 1px;
    background-color: #FCD12A;
    width: 30%;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  
}

.kontain{
    border: solind #212121 1px;
    background-color: #faf9f6;
    width: 100%;
    margin: auto;
    padding: 15px;
  
}

#form-box{
    text-align: center;
    border-radius: 5px;
}

.input-field{
    background-color: #fff;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
}

.btn-field{
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.btn-field button{
  
    background: #212121;
    color: #fff;
    height: 25px;
    width: 100px;
   
    border-radius: 5px;
    border: 0;
    outline: 0;
    

}

.shopwrap{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    background-color: #08415c;
    padding: 2px;
    background-color: #08415c;
}

.aboutHeading{
    background-color: #08415c;
    width: 100%;
    text-align: center;
    color: #faf9f6;
    font-family: 'trebuchet MS', sans-serif;
}

.aboutHeading h1{
    font-size: 40px;
}

.div1 {
    background-color: #08415c;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    padding: 5px;
}

.div2 {
    background-color: #08415c;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    padding: 5px;
}

.col-del{
    padding: 5px;
    background-color: #005a92;
    color: #faf9f6;
    border: none;
    font-family: 'trebuchet MS', sans-serif;
    border-radius: 5px;
}

.col-del:hover{
    background-color: #FCD12A;
    transition: 0.4s;
}



.menuWrapper{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    grid-gap: 20px;
    background-color: transparent;
    padding: 10px;
    font-family: 'trebuchet MS', sans-serif;
 }

 .menuHeader{
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #faf9f6;
    padding: 10px;
    border-radius: 5px;
 }

 .menuitem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
 }

 .menuitem2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
    border-radius: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
 }

 .menuitem3{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #faf9f6;
   border-radius: 5px;
   grid-column-start: 4;
   grid-column-end: 5;
}

 .menupic{
    padding: 20px;
    text-align: center;
 }

 .menubtn{
    padding-top: 15px;
 }

 .btnmen{
    background-color: #212121;
    color: #faf9f6;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 150px;
 }

 .aboutWrapper{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    background-color: transparent;
    padding: 10px;
    font-family: 'trebuchet MS', sans-serif;
 }

.about-contain{
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 20px;
}

.about-picture{
    grid-column-start: 4;
    grid-column-end: 7;
    background-image: url(logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
}

/*contact-details.html*/

.contact-box{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 200px;
    /*grid-gap: 20px;*/
    background-color: transparent;
    padding: 10px;
    font-family: 'trebuchet MS', sans-serif;
	margin: auto;
	width: 60%;
 }

 .box1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
    /*border-radius: 5px;*/
    grid-column-start: 3;
    grid-column-end: 4;
	text-align: center;
 }

 .box2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9f6;
    /*border-radius: 5px;*/
    grid-column-start: 3;
    grid-column-end: 4;
	text-align: center;
 }

 .box3{
   display: flex;
   align-items: center;
   justify-content: centre;
   background-color: #faf9f6;
  /*border-radius: 5px;*/
   grid-column-start: 3;
    grid-column-end: 4;
    padding: 20px;
	text-align: center;
}

table{
    border: none;
}

.kotaPIC{
    min-height: 100vh;
}
.icon{
    position:left-side; 
}


